# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/*
!.idea/runConfigurations
*.iml
*.iws
classes/
**/bin

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
out/
build/
results/

# Java Dump

# Rookie tracker client config secrets
credentials/
*client_secret.json
*milb_roster_spreadsheet_security_info.xml